@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --fundo: #050505;
    --fundo2: #1d1d1d;
    --azul: #03a9f4;
    --verde: #7fff00;
    --sombra: #ccc;
    --branco: #fff;
    --preto : #000;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #03a9f4;
    border-radius: 8px;
}

body{
    overflow-x: hidden;
}

body.vsc-initialized {
    background-color: var(--fundo);
}

.header-lp {
    background-color: var(--fundo);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 17vh;
    top: 0;
    position: absolute;
    width: 100%;
}

.header-lp h1 {
    color: var(--branco);
    font-size: 35px;
    letter-spacing: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
}

.logo a {
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    width: 80%;
}

.links a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--branco);
    margin-right: 7%;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.links a:hover {
    color: var(--azul);
    text-shadow: 0 0 3px var(--sombra);
}

.menu-hambu {
    border: solid 2px var(--sombra);
    border-radius: 10px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    display: none;
    right: 5%;
}

.header-lp.active-header .linha:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
    background-color: var(--verde);
    transition: 0.5s;
}

.header-lp.active-header .linha:nth-child(2) {
    width: 0;
    transition: 0.5s;
}

.header-lp.active-header .linha:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
    background-color: var(--verde);
    transition: 0.5s;
}

.linha {
    background-color: var(--verde);
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px auto;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
}

.section-1 {
    background-color: var(--fundo);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}


.textfield {
    width: 40vw;
    height: 50vh;
    margin-top: 18vh;
}

.textfield h1 {
    font-size: 45px;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--azul);  
}

.textfield p {
    font-size: 20px;
    text-align: justify;
}

/* carrossel !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.corpo {
    width: 50vw;
    height: 88vh;  
    display: flex;
    align-items: center;
}

.slider {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    position: relative;
    transition: 2s;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

.conteudo h1{
    margin-bottom: 2vh;
    font-size: 35px;
    color: var(--azul);
}

.conteudo h2{
    font-size: 25px;
    margin-bottom: 3vh;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--branco);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:Last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--branco);
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

.navigation-auto div {
    border: 2px solid var(--azul);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 15px;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~ .navigation-auto .auto-btn1 {
    background-color: var(--branco);
}

#radio2:checked~ .navigation-auto .auto-btn2 {
    background-color: var(--branco);
}

#radio3:checked~ .navigation-auto .auto-btn3 {
    background-color: var(--branco);
}

#radio4:checked~ .navigation-auto .auto-btn4 {
    background-color: var(--branco);
}

#radio5:checked~ .navigation-auto .auto-btn5 {
    background-color: var(--branco);
}

.section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: var(--fundo);
}

.msg h2{
    color: var(--verde);
}

.produtos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.produtos p{
    color: var(--branco);
    font-size: 17px;
    margin: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--verde);
    text-align: justify;
}


.coluna {
    background-color: var(--fundo2);
    border-radius: 5px;
    transition: all .3s;
    margin-bottom: 50px;
    width: 25vw;
    border: 3px solid var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.coluna:hover {
    scale: 1.04;
}

.produtos img{
    height: 300px;
    width: 250px;
}

footer {
    height: 100vh;
    width: 100%;
    background-color: var(--fundo);
}

.cont-f {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.child1 {
    height: 70%;
    width: 20vw;
    color: var(--branco);
}

.child1 h1 {
    text-align: center;
    color: var(--azul);
    letter-spacing: 5px;
}

.child2 {
    height: 70%;
    width: 20vw;
}

.child2 h1 {
    text-align: center;
    color: var(--azul);
    letter-spacing: 5px;
}

.child3 {
    height: 70%;
    width: 30vw;
    background-color: var(--azul);
    padding: 10px;
    border-radius: 10px;
}

.footer-links {
    height: 100%;
}

.footer-links:hover {
    color: var(--azul);
    text-shadow: 0 0 7px var(--azul);
}

.barrinha {
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.redes {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.redes a {
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* FORMULÁRIO */

.content {
    display: flex;
    justify-content: center;
}

.contato {
    width: 100%;
}

.contato h3 {
    margin-bottom: 7px;
    color: var(--preto);
}

.form {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 7px;
    margin-bottom: 13px;
    border: 1px solid var(--branco);
    border-radius: 5px;
    font-size: 16px;
    color: var(--preto);
}

textarea {
    height: 100px;
}

.barrinha2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.box {
    text-align: center;
}

.ed {
    width: 100%;
    color: var(--branco);
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 780px) {
    
    .menu-hambu {
        display: block;
        top: 33px;
    }

    .links {
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    .links a {
        margin: 0;
        margin-bottom: 10%;
    }

    .logo {
        width: 100%;
        height: 33%;
        text-align: center;
        justify-content: center;
    }

    .header-lp {
        transition: 0.5s;
    }

    .active-header {
        height: 60vh;
        flex-direction: column;
        border-bottom: 10px solid var(--branco);
        transition: 0.5s;
    }

    .active-links {
        display: flex;
        transition: 2s;
    }


    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
        margin-top: 0;
    }

    .textfield {
        width: 80vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .textfield h1 {
        width: 75vw;
        margin-left: 2vw;
        font-size: 25px;
        letter-spacing: 5px;
        text-transform: uppercase;
        border-bottom: 2px solid var(--azul);
    }
    
    .textfield p {
        font-size: 17px;
    }

    .corpo {
        /* margin-top: 20vh; */
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .manual-navigation {
        position: absolute;
        width: 50%;
        margin-top: -5px;
        display: flex;
        justify-content: center;
        margin-left: 5%;
    }

    .navigation-auto {
        position: absolute;
        width: 50%;
        margin-top: 380px;
        display: flex;
        justify-content: center;
        margin-left: 5%;
    }

    /* .section2{
        justify-content: center;
        flex-direction: column;
        height: 200vh;
        align-items: center;
        background-color: var(--azul);
        margin-bottom: -3vh;
    } */

    .section2 {
        height: 300vh;
    }

    .msg {
        width: 100%;
        text-align: center;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .coluna {
        width: 270px;
        height: 500px;
    }

    /* .produtos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    } */

    /* .msg h2{
        padding: 35px;
    } */
    
    footer {
        height: 170vh;
    }

    .cont-f {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
    }

    .redes a {
        margin-top: 0;
    }

    .child1 {
        height: 25vh;
        width: 50vw;
        text-align: center;
        margin-bottom: 8vh;
    }

    .child1 h1 {
        margin: 15px 0;
    }

    .child2 {
        height: 25vh;
        width: 50vw;
        text-align: center;
        margin-bottom: 9vh;
    }

    .child2 h1 {
        margin: 15px 0;
    }

    .child3 {
        margin-top: 50px;
        height: 43vh;
        width: 70vw;
        border-radius: 10px;
        padding: 0;
        margin-bottom: 5vh;
    }

    .footer-links {
        margin: 10px 0;
    }

    /* FORMULÁRIO */

    .content {
        height: 100%;
    }

    .contato {
        width: 90%;
    }

    .contato h3 {
        margin-top: 5px;
        font-size: 16px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .barrinha {
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    .field {
        margin: 7px 0;
        padding: 0;
    }

    textarea {
        height: 100px;
    }

    .barrinha2 {
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    .box {
        display: flex;
        justify-content: center;
        height: 5%;
    }

    .ed {
        margin-top: 3vh;
        height: 100%;
        width: 70%;
        font-size: 13px;
    }
}

@media (max-width: 570px){

    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .corpo {
        margin-top: 40vh;
        margin-bottom: 10vh;
        width: 100vw;
        height: 30vh;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider{
        height: 50vh;
    }

    .manual-navigation {
        position: absolute;
        width: 50%;
        margin-top: -5px;
        display: flex;
        justify-content: center;
        margin-left: 12%;
    }

    .navigation-auto {
        position: absolute;
        width: 50%;
        margin-top: 380px;
        display: flex;
        justify-content: center;
        margin-left: 12%;
    }
}

@media (max-width: 500px){

    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .textfield {
        width: 75vw;
        height: 50vh;
        margin-top: 10vh;
    }

    .textfield h1 {
        width: 75vw;
        margin-left: 2vw;
        font-size: 25px;
        letter-spacing: 5px;
        text-transform: uppercase;
        border-bottom: 2px solid var(--azul);
    }

    .textfield p {
        font-size: 17px;
        margin-top: 0vh;
    }

    .corpo {
        margin-top: 35vh;
        margin-bottom: 10vh;
        width: 100vw;
        height: 30vh;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider{
        height: 75vh;
    }

    .manual-navigation {
        position: absolute;
        width: 50%;
        margin-top: -5px;
        display: flex;
        justify-content: center;
        margin-left: 22%;
    }

    .navigation-auto {
        position: absolute;
        width: 50%;
        margin-top: 380px;
        display: flex;
        justify-content: center;
        margin-left: 22%;
    }

    .section2{
        height: 180vh;
    }
}